<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <br />

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/steve-mcclellan">Steve McClellan</a> as part of his web developer training with <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.
  </p>

  <br />
  <br />
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'steve.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Steve McClellan</h2>
    <br />
    <p>
      Steve McClellan is an aspiring web developer. In a previous life, he was a poker dealer and high school sports official. He loves watching and appearing on game shows, as well as figuring stuff out.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />